body{
  width: 100%;
  height: auto;
}
section{
  width: 100%;
  height: auto;
}
img{
  width: 30%;
  height: auto;
  margin-left: 450px;
}
button{
  margin-left: 609px;
  border-radius: 10px;
  background-color: teal;
  color: white;
  font-family: monospace;
}
